*
{
    text-align: center;
}
body{
    background-color: #e5e5e5;
}
h1
{
    margin-top: 2%;
    text-align: center;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
button
{
    font-weight: bold;
    color:purple;
    height: 3em;
    width:10em;
    border-width: 2%;
    border-color: blue;
    border-style: solid;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
}
button:hover{
    height:3em;
    width: 11em;
    box-shadow: 10px 5px 5px purple;
}
li
{
    color:purple;
    margin-bottom: 2%;
}